/* unbreakable, thousand */
table.ui span.u span.n {
	padding : 0
}

/* thousand */
table.ui span.n {
	color         : blue;
	padding-left  : 4px;
	padding-right : 4px;
}

/* unbreakable */
table.ui td.u {
	white-space : nowrap;
}

/* right */
table.ui td.r, .ui.input input.r {
	text-align : right;
}

/* center */
table.ui td.c {
	text-align : center;
}

/* smaller zeros */
table.ui td.r i {
	font-size : 40%;
}

/* invisible */
.ui a.item.disabled.invisible,
.ui a.item.disabled.invisible:hover {
	color : rgba(0, 0, 0, 0)
}

/* deleted row */
tr.del td {
	text-decoration : line-through;
	color           : red;
}

/* hover item */
a.item, a.item i.icon {
	cursor : pointer;
}

/* upload drop area */
.ajax-upload-dragdrop {
	background : url(/upload-drop-area.png) repeat;
}

/* micro */
.ui.micro.button {
	padding       : 0.3em 0.8em 0.2em 0.8em;
	margin-top    : 0;
	margin-bottom : 0;
}

table.ui.table td.u {
	padding-top    : 0.1em;
	padding-bottom : 0.1em;
}

.ui.micro.button > a {
	color : white;
}