# Created by .ignore support plugin (hsz.mobi)

### Go template
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

.idea

*.iml
*.deb
*.gz
*.xz
*.old
debian-binary
D/src
D/pkg

public/lib.js
public/lib.css
public/mod.js
public/mod.css

vendor
