<div class="pusher" id="vm">
	<div>
		<div id="master_grid"></div>
	</div>
	<div>
		<div id="master_form"></div>
	</div>
</div>
<script>
	DS.Groups = {/* groups */};
	var MASTER_FIELDS = { /* form_fields */ };
	var MASTER_COLS = { /* grid_fields */ };
	var MASTER_ITEM = 'User';
	var MASTER_COLLECTION = MASTER_ITEM + 's';
	var MASTER_FORM = FormMason( 'master_form', MASTER_ITEM, MASTER_FIELDS, {
		OnAfterSave: function() {
			MASTER_GRID.search_event();
		}
	} );
	var MASTER_ROWS = { /* rows */ };
	var MASTER_GRID = GridMason( 'master_grid', MASTER_COLLECTION, MASTER_COLS, MASTER_ROWS,
		BUTTONicoif( 'edit_event(row.id)', 'edit icon', 'edit' ),
		{}, {
			data: {
				limit: +'#{limit}',
				offset: +'#{offset}',
				count: +'#{count}',
				term: ''
			},
			methods: {
				edit_event: function( row_id ) {
					MASTER_FORM.edit_event( row_id );
				}
			}
		}
	);
</script>
