[Unit]
Description=Automated CHANGEME restart
After=network.target

[Service]
Type=simple
User=root
Group=users
WorkingDirectory=/home/CHANGEME/web
ExecStart=/home/CHANGEME/web/auto_restart.rb
ExecStop=/usr/bin/killall auto_restart.rb
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
