[Unit]
Description=CHANGEME Publisher
After=network-online.target postgresql.service
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
Restart=on-failure

User=CHANGEME
Group=users

WorkingDirectory=/home/CHANGEME/web

ExecStart=/home/CHANGEME/web/run_production.sh
ExecStop=/usr/bin/killall CHANGEME

LimitNOFILE=2097152
LimitNPROC=65536

ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
