<div style="text-align: center">
	<div style="display: inline-block;">
		<div class="ui message">
			<div class="header">
				Reset Password Link Request Form
			</div>
		</div>
		<div class="ui grid" id="vm">
			<div class="ui sixteen wide centered column active" :class="{dimmer:loading}" style="min-height: 200px">
				<div class="ui text loader">
					<p>Sending request..</p>
				</div>
				<div class="eight wide centered column" v-if="!loading">
					<div class="ui form">
						<div class="ui field">
							<label for="user">E-Mail / Phone</label>
							<input id="user" placeholder="e-mail or phone" v-model="email" v-focus @keydown="email_event"/>
						</div>
						<div class="ui field">
							<label for="ident">Registered Name</label>
							<input id="ident" placeholder="registered name" v-model="ident" @keydown="ident_event"/>
						</div>
					</div>
				</div>
				<div class="eight wide centered column" v-if="!loading">
					<div class="ui form">
						<div class="ui field equal width">
							<input class="ui button yellow" type="button" value="Send reset password link" @click="reset_event"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui message">
			<div class="header">
				&copy; 2017 Luwes
			</div>
		</div>
	</div>
</div>
<script>
	Vue.directive( 'focus', {
		inserted: function( el ) {
			el.focus()
		}
	} );
	var vm = new Vue( {
		el: '#vm',
		data: {
			google_url: '#{google}',
			fb_url: '#{fb}',
			email: '',
			ident: '',
			loading: 0
		},
		methods: {
			ident_event: function( e ) {
				if( H.IsEnter( e ) ) {
					if( this.ident ) this.reset_event();
					else $( '#email' ).focus();
				}
			},
			email_event: function( e ) {
				if( H.IsEnter( e ) && this.email ) $( '#ident' ).focus();
			},
			reset_event: function() {
				var d = { email: this.email, ident: this.ident.replace( /[^A-Za-z0-9]/g, '' ) };
				this.loading += 1;
				var self = this;
				$.post( '', d, function( res ) {
					self.loading -= 1;
					if( res && res.errors && res.errors.length>0 ) {
						$( '#ident' ).val( '' ).focus();
						$( '#forgot_detected' ).fadeOut( 500 ).fadeIn( 500 ).fadeOut( 500 ).fadeIn( 500 );
						return alert( res.errors.join( "\n" ) );
					}
					if( window.location.hash=='#close' ) {
						alert( 'logged in successfully' );
						return window.close();
					}
					window.location.reload( true );
				} ).fail( function( xhr, textStatus, errorThrown ) {
					self.loading -= 1;
					err();
					alert( textStatus + '\n' + xhr.status );
				} );
			}
		}
	} );
</script>