<div style="text-align: center">
	<div style="display: inline-block;">
		<div class="ui message">
			<div class="header">
				#{title}
			</div>
		</div>
		<div class="ui grid" id="vm">
			<div class="ui sixteen wide column active" :class="{dimmer:loading}">
				<div class="sixteen wide column">
					<img src="/img/logo.png" style="display:block; margin:auto; padding-bottom: 16px"/>
				</div>
				<div class="ui text loader"></div>
				<div class="eight wide centered column">
					<div class="ui form">
						<div class="ui field">
							<label for="user">E-Mail / Phone</label>
							<div class="ui action input" :class="{disabled:loading}">
								<input id="user" placeholder="e-mail or phone (format: +62 8xxxxxxx)" v-model="email" v-focus @keydown="email_event"/>
								<input v-if="is_phone" class="ui button yellow" type="button" value="SMS Login" @click="sms_event"/>
							</div>
						</div>
						<div class="ui field" v-if="!(loading || is_phone)">
							<label for="pass">Password</label>
							<div class="ui action input">
								<input id="pass" type="password" placeholder="password for this site" v-model="pass" @keydown="pass_event"/>
								<input class="ui button yellow" type="button" value="Password Login" @click="login_event"/>
							</div>
						</div>
					</div>
				</div>
				<div class="sixteen wide centered column" v-if="!loading">
					<div class="ui form">
						<div class="ui field equal width" v-if="!(loading || is_phone)">
							<a class="ui button brown" :href="forgot_url">
								Forgot Password
							</a>
						</div>
						<div class="ui field" v-if="google_url || fb_url">
							<label>or login using</label>
							<a v-if="google_url" id="google" class="ui google plus button" :href="google_url">
								<i class="google plus icon"></i>
								Google Account
							</a>
							<a v-if="fb_url" id="fb" class="ui facebook button" :href="fb_url">
								<i class="facebook icon"></i>
								Facebook
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ui message">
			<div class="header">
				&copy; 2017 CHANGEME
			</div>
		</div>
	</div>
</div>
<script>
	if( window.attachEvent && !window.addEventListener ) { // "bad" IE (<9)
		if( confirm( 'your browser is too ancient, please reconsider using newer one..' ) ) {
			$.ajax( {
				url: '', data: '', success: function() {
					window.open( 'http://browsehappy.com/' );
				}, async: false
			} );
		}
	}
	var vm = new Vue( {
		el: '#vm',
		data: {
			forgot_url: '/login/forgot',
			login_url: '/login',
			google_url: '#{google_url}',
			fb_id: '#{fb_id}',
			fb_url: '#{fb_url}',
			fb_ver: 'v2.8',
			fb_ak_ver: 'v1.1', // account kit version
			email: '',
			pass: '',
			loading: 0
		},
		computed: {
			is_phone: function() {
				return (this.email || '').match( /\+\d+ \d+/ )
			}
		},
		methods: {
			load_fb_sdk: function( callback ) {
				if( window.FB && window.AccountKit ) {
					H.ExecIfFunction( callback );
					return;
				}
				var self = this;
				window.AccountKit_OnInteractive = function() {
					H.Trace( arguments );
					AccountKit.init( {
						appId: self.fb_id,
						state: '#{csrf}',
						version: self.fb_ak_ver,
						is_debug: debug_mode
					} );
					H.ExecIfFunction( callback )
				};
				var loadScript = function( id, t ) {
					var d = document, s = 'script';
					var js, fjs = d.getElementsByTagName( s )[ 0 ];
					if( d.getElementById( id ) ) return;
					js = d.createElement( s );
					js.id = id;
					js.src = t;
					fjs.parentNode.insertBefore( js, fjs );
				};
				window.fbAsyncInit = function() {
					H.Trace( arguments );
					FB.init( {
						appId: self.fb_id,
						xfbml: true,
						version: self.fb_ver
					} );
					FB.AppEvents.logPageView();
					loadScript( 'fb-ak', 'https://sdk.accountkit.com/en_US/sdk.js' )
				};
				loadScript( 'facebook-jssdk', '//connect.facebook.net/en_US/sdk.js' );
			},
			sms_event: function( e ) {
				var self = this;
				this.load_fb_sdk( function() {
					H.Trace( arguments );
					var phone = self.email.split( ' ' );
					var country_code = phone[ 0 ];
					var ph_num = phone[ 1 ];
					AccountKit.login( 'PHONE', { countryCode: country_code, phoneNumber: ph_num }, function( res ) {
						H.Trace( arguments );
						if( res.status==="PARTIALLY_AUTHENTICATED" ) {
							self.pass = res.code;
							H.GrowlInfo( 'Log in using SMS' );
							self.login_event();
						}
						else if( res.status==="NOT_AUTHENTICATED" ) {
							H.GrowlError( 'FBAK Authentication Failed' )
						}
						else if( res.status==="BAD_PARAMS" ) {
							H.GrowlError( 'FBAK Bad Parameters' )
						}
					} );
				} );
			},
			pass_event: function( e ) {
				if( H.IsEnter( e ) ) {
					if( this.pass ) this.login_event();
					else $( '#email' ).focus();
				}
			},
			email_event: function( e ) {
				if( H.IsEnter( e ) && this.email ) $( '#pass' ).focus();
			},
			login_event: function() {
				var self = this;
				this.loading += 1;
				var d = { email: this.email, pass: this.pass };
				$.post( this.login_url, d, function( res ) {
					self.loading -= 1;
					if( res && res.errors && res.errors.length>0 ) {
						$( '#pass' ).val( '' ).focus();
						$( '#forgot_detected' ).fadeOut( 500 ).fadeIn( 500 ).fadeOut( 500 ).fadeIn( 500 );
						return H.GrowlError( res.errors.join( '\n' ) );
					}
					if( window.location.hash=='#close' ) {
						alert( 'logged in successfully' );
						return window.close();
					}
					window.location.reload( true );
				} ).fail( function( xhr, textStatus, errorThrown ) {
					self.loading -= 1;
					err();
					alert( textStatus + '\n' + xhr.status );
				} );
			}
		}
	} );
</script>

