
http://local.TODO_CHANGE_DOMAIN {
	root ($GOPATH)/src/example-complete/public
	proxy / 127.0.0.1:3000 {
		header_upstream Host {host}
		header_upstream X-Real-IP {remote}
		header_upstream X-Forwarded-For {remote}
		header_upstream X-Forwarded-Proto {scheme}
	}
}
