<div class="ui sidebar inverted vertical menu">
	<div class="item">
		<b>example-complete-example-cron</b> &nbsp;
		<span style="color: white; padding: 4px; font-weight: bold" class="#{debug_mode}">#{debug_mode}</span>
		<span class="compact ui black icon button" onclick="toggle_menu()"><i class="icon angle double left"></i> Hide </span>
	</div>
	<div class="item">
		<b>#{email}</b>
	</div>
	#{guest_menu}
	#{superadmin_menu}
	<a class="item" onclick="logout()" id="logout" style="display:none">
		<i class="power icon"></i> Logout
	</a>
	<a class="item" href="/login" id="login" style="display:none">
		<i class="key icon"></i> Login
	</a>
</div>
<style>
	.ALPHA, .DEBUG {
		background-color : red
	}
	
	.BETA, .RELEASE {
		background-color : blue
	}
</style>
<script>
	function logout() {
		$.post( '/logout', {}, function( res ) {
			if( res && res.errors && res.errors.length>0 ) return H.GrowlError( res.errors.join( '\n' ) );
			document.location.href = '/';
			window.location.reload( true );
		} );
		return false
	}
	function toggle_menu() {
		$( '.ui.sidebar' ).sidebar( 'toggle' );
	}
	var uid = +'#{uid}';
	$( document ).ready( function() {
		$( '.ui.sidebar' ).sidebar( 'setting', 'transition', 'overlay' );
		$( '#' + (uid ? 'logout' : 'login') ).show();
	} )
</script>
<div class="ui black big launch right attached fixed compact button" style="z-index: 3" onclick="toggle_menu()">
	<i class="content icon"></i>
	<span class="text">Menu</span> |
	<span class="text" id="title">#{title}</span>
	<span id="breadcrumb"></span>
</div>