{
	debug
	#auto_https disable_redirects
	log {
		output stdout
		#level DEBUG
	}
	local_certs
}

127.0.0.1:443, 127.0.0.1:80, localhost:443, localhost:80, local.benalu.dev:443, local.benalu.dev:80 {
	handle /upload/* {
		root ./svelte/dist
		file_server browse
	}

	handle /api/* {
		# Go
		reverse_proxy 127.0.0.1:9090
	}
	handle /graphql {
		# Go
		reverse_proxy 127.0.0.1:9090
	}

	handle {
		# Svelte
		reverse_proxy 127.0.0.1:3000
	}

	#tls internal
}

# https://richj.co/caddy-v2-custom-404-error-pages/
