[Unit]
Description=Automated database backup
After=network.target

[Service]
Type=simple
User=root
Group=users
WorkingDirectory=/home/web/site
ExecStart=/home/web/site/shell/auto_backup.rb
ExecStop=/usr/bin/killall auto_backup.rb
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
