[Unit]
Description=example-cron Background Service
After=network-online.target postgresql.service
Wants=network-online.target 

[Service]
Type=simple
Restart=on-failure

User=web
Group=users

WorkingDirectory=/home/web/site

ExecStart=/home/web/site/run_background.sh
ExecStop=/usr/bin/killall example-cron

LimitNOFILE=2097152
LimitNPROC=65536

ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
