<h1>Login Example</h1>
<div id="login" style="display:none">
	<h5>hint: input the same value for username and password to login</h5>
	<input id="username" type="text" name="username" placeholder="username"/>
	<input id="password" type="password" name="password" placeholder="password"/>
	<button type="submit" onclick="login()">Login</button>
</div>
<div id="logout" style="display:none">
	<h3>Hello, user-#{user_id}</h3>
	<a href="/named_params_example/foo">see named params</a> <br/>
	<a href="/post_values_example">see post values</a> <br/>
	<a href="/query_string_example?something=a&something_else=123">see query string</a> <br/>
	<hr/>
	<button type="submit" onclick="logout()">Logout</button>
</div>
<script>
	var user_id = '#{user_id}';
	function login() {
		var usr = $( '#username' );
		var pwd = $( '#password' );
		var d = { username: usr.val(), password: pwd.val(), a: 'login' };
		usr.val( '' );
		pwd.val( '' );
		$.post( '', d, function( res ) {
			if( res && res.errors && res.errors.length>0 ) {
				alert( res.errors );
			} else {
				alert( 'Login successful!' );
				window.location.reload( true );
			}
		} ).fail( function( xhr, textStatus, errorThrown ) {
			alert( textStatus + '\n' + xhr.status );
		} );
	}
	function logout() {
		var d = { a: 'logout' };
		$.post( '', d, function( res ) {
			if( res && res.errors && res.errors.length>0 ) {
				alert( res.errors );
			} else {
				alert( 'Logout successful!' );
				window.location.reload( true );
			}
		} ).fail( function( xhr, textStatus, errorThrown ) {
			alert( textStatus + '\n' + xhr.status );
		} );
	}
	$( document ).ready( function() {
		$( '#' + (user_id ? 'logout' : 'login') ).show();
	} );
</script>