<div class="pusher">
	<div class="ui success message">
		<div class="header">
			<h1 class="ui blue ribbon label">Indonesia Sea Level Measurements</h1>
			<p>Welcome to example-complete-example-cron Website! </p>
			<p>We hope we could support your bla bla.</p>
			<div id="not_login">
				<p class="ui red ribbon label">Administrator's Page</p>
				<p><a href="/login">Login</a></p>
				<p></p>
			</div>
			<p class="ui green ribbon label">Click top-left button for menu</p>
		</div>
		<script>
			var has_login = '#{has_login}'=='true';
			if( has_login ) $( '#not_login' ).hide();
		</script>
	</div>
</div>