<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>#{title} | #{project_name}</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="theme-color" content="#ffffff">
</head>
<body onload="_loaded()" style="width:100%; height: 100%; overflow-x: visible">
<div id='_backdrop'
     style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:10;text-align:center;vertical-align:middle;background-color:rgba(0, 0, 0, 0.5);">
	<img src='/img/horizontal-loading.gif'/><br/>Loading scripts, please wait..
</div>
#{assets}
<script>
	var is_superadmin = '#{is_superadmin}'=='true';
	var debug_mode = '#{debug_mode}'=='true';
	function _loaded() {$( '#_backdrop' ).remove();}
</script>
<noscript>Please enable Javascript or use Javascript-enabled browser.</noscript>
#{contents}
<!-- </body></html> anti telkom ad-inject -->
</body>
</html>