[Unit]
Description=RESTSERVICENAME_CHANGEME
After=network-online.target tarantool.service clickhouse-server.service
Wants=network-online.target 

[Service]
Type=simple
Restart=on-failure

User=SERVICEUSER_CHANGEME
Group=SERVICEGROUP_CHANGEME

WorkingDirectory=/home/HOMESITEPATH_CHANGEME

ExecStartPre=/bin/sleep 2
ExecStart=/home/HOMESITEPATH_CHANGEME/start_example_rest.sh
ExecStop=/usr/bin/killall example.exe

LimitNOFILE=2097152
LimitNPROC=65536

ProtectSystem=full
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
